:root {
  --pink: #b13c70;
  --boldPurple: #48477f;
  --purple: #34235e;
  --lightPurple: #6160c5;
  --sky: #2596be;
  --white: #effeff;
  --bgLinear: linear-gradient(to right, #34235e, #b13c70);
  --bgLinearChange: linear-gradient(to right, #b13c70, #34235e);
  --word: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
}

body {
  background: var(--bgLinear);
  font-family: var(--word);
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1600px;
  }
}

/*====================================================
HEADER
======================================================*/
.header__flex {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__flex {
    flex-direction: row;
  }
}

.header__container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
  }
}

.header__field {
  position: relative;
  display: flex;
  align-items: center;
}

.header__field::before {
  content: "";
  z-index: 2;
  display: block;
  background-image: url(../img/lupa.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
}

.header__title {
  color: var(--white);
  font-family: var(--word);
  font-weight: 400;
  font-size: 2rem;
}

.header__input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.8rem;
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(1rem);
  color: var(--white);
  caret-color: var(--white);
  padding: 0.5rem 0 0.5rem 2rem;
}

.header__input:focus {
  outline-style: solid;
  outline-color: var(--purple);
}

.header__input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 5;
}

.car__img {
  color: var(--white);
  font-size: 2rem;
}

.car__buy {
  display: none;
}
.car:hover .car__buy {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 1;
  min-height: 400px;
  min-width: 300px;
}

@media (min-width: 768px) {
  .car:hover .car__buy {
    right: 0;
  }
}

.table {
  display: grid;
  grid-template-rows: 2rem 20rem;
  overflow: hidden;
  overflow-y: scroll;
  border-collapse: collapse;
  font-family: var(--word);
}

.table__tbHead tr th {
  padding: 0.5rem 1rem;
  background-color: var(--white);
}

.table__tbHead tr th:first-child {
  border-top-left-radius: 1rem;
}
.table__tbHead tr th:last-child {
  border-top-right-radius: 1rem;
}

.table__tbBody {
  background-color: rgb(0 0 0 / 0.2);
}

.table__tbBody tr td {
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(1rem);
  color: var(--white);
  padding: 2rem 1rem;
}

.car__empty {
  display: block;
  text-align: center;
  background-color: var(--white);
  text-decoration: none;
  color: var(--purple);
  padding: 1rem 0;
}

/*====================================================
nav
======================================================*/
.nav {
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(1rem);
  position: fixed;
  width: 90%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  margin: 2rem;
  z-index: 2;
  border-radius: 2rem;
}

@media (min-width: 1200px) {
  .nav {
    width: 0;
    top: 0;
    left: 0;
    padding: 0 2.5rem;
    flex-direction: column;
  }
}

.nav__link {
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  background-color: rgb(0 0 0 / 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: bacground-image 250ms ease, box-shadow 250ms ease,
    opacity 250ms ease;
}

.nav__link:hover {
  background-image: var(--bgLinear);
  box-shadow: 0.3rem 0.3rem 0.3rem black;
}

.nav__link:hover .nav__icon {
  opacity: 1;
}

.nav__link--active {
  background-image: var(--bgLinear);
  box-shadow: 0.3rem 0.3rem 0.3rem black;
}

.nav__link--active .nav__icon {
  opacity: 1;
}

.nav__icon {
  color: var(--white);
  opacity: 0.5;
  font-size: 2rem;
}

/*====================================================
Hero
======================================================*/
.hero {
  position: relative;
}
.hero__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}

.images {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  bottom: -3rem;
}

.images__img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 2rem;
}

.images__plus {
  background-color: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
}

/*====================================================
Main
======================================================*/
.games {
  margin-top: 5rem;
}
.games__heading {
  color: var(--white);
  font-weight: 400;
}

.games__grid {
  display: grid;
  /* justify-items: center; */
  gap: 1rem;
  padding: 2rem 0 10rem;
}

@media (min-width: 768px) {
  .games__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .games__grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
}

@media (min-width: 1500px) {
  .games__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*====================================================
card
======================================================*/

.card {
  background-color: var(--boldPurple);
  border-radius: 2rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card {
    width: 20rem;
  }
}

.card__img {
  width: 90%;
  height: 15rem;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 2rem;
}

.card__container {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__central {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  color: var(--white);
  font-weight: 400;
  font-size: 1.4rem;
}

.card__stars {
  height: 4rem;
  filter: invert(1);
  opacity: 0.5;
}

.card__paragraph {
  color: var(--white);
  font-weight: 300;
  opacity: 0.6;
}
.card__price {
  color: var(--white);
  text-align: right;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.2rem 0;
}

.card__buy {
  text-decoration: none;
  background-image: var(--bgLinear);
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 1rem;
  color: var(--white);
}

.card__buy:hover {
  background-image: var(--bgLinearChange);
}

/*====================================================
Store
======================================================*/
.store__heading {
  color: var(--white);
  font-weight: 400;
}

.store__grid {
  display: grid;
  grid-template-columns: repeat(12, 20rem);
  overflow: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  margin-bottom: 10rem;
}

@media (min-width: 768px) {
  .store__grid {
    overflow-x: hidden;
    padding: 0 0 10rem;
    margin-bottom: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .store__grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
  }
}

@media (min-width: 1500px) {
  .store__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1800px) {
  .store__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.store__grid .card {
  scroll-snap-align: center;
}
